.DottedBox {
  margin: 40px;
  border: 5px dotted pink;
}

#DottedBox_content {
  font-size: 15px;
  text-align: left;
}

.container {
  max-width: 1140px;
  margin-left: 0px;
}

input[type="text"] {
  width: 100%;

}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: transparent !important;
  background-clip: border-box;
  padding: 5px;
  border-radius: .25rem;
}

.InputTable {
  width: 100%;
  border-collapse: separate;
  border-spacing: 7px 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.table-color {
  background-color: #004b8e !important;
  color: #ffffff !important;
  height: 41px;
  padding-top: 10px;
  padding-left: 10px;
  font-size: 16px;
  font-weight: 700;
  font-family: Franklin Gothic Book;


}

.page-header {
  background-color: #004b8e;
  color: #ffffff;
  margin: 0 0 0 0 !important;
  font-size: 16px;
  font-weight: bold;
  font-family: Franklin Gothic Book;
  font-size: 16px;
  font-weight: 700;
  font-family: Franklin Gothic Book;
}

/* tr:first-child .btnRemove { display:none } */

.btnRemove {
  display: none;
}

.accordionTitle {
  text-decoration: none !important;
}

.pull-right {
  float: right !important;
}

@media print {

  .get-data-panel,
  .page-header {
    display: none;
  }
}

@page {
  size: auto;
  margin: 0mm;
}

textarea {
  resize: none;
}

label {
  font-weight: normal !important;
}

.btn-primary {
  background-color: #FFCC66 !important;
  border: #ce9a01 !important;
  color: #913503 !important;
}

.mandatory {
  color: #a80000;
}

.btn-margin {
  margin-right: 10px;
}

.dpwidth {
  width: auto;
}

.tbl-width {
  width: 305px;
}

.table-responsive {
  overflow-x: hidden !important;
  overflow-y: auto;
}

.done-block {
  color: #009900 !important;
  background-color: #f0fad3 !important;
}

.active-block {
  color: #a01c0a !important;
  background-color: #ffc700 !important;
}

.remove-block {
  display: none;
}

.disabledTab {
  pointer-events: none;
  background-color: #f6f6f6;
}

.icon-color {
  color: #913503
}

.panel-body {
  background: #f6f6f6;
}

.panel-heading {
  background: #fafafa;
  border: 1px solid #dcdcdc !important;
}

.tbl-background {
  background: #ffffff !important;
}

.tbl-tr-background {
  background: #f6f6f6;
}

#mainContainerRender {
  margin: 10px;
  padding: 10px;
}

.card-header {
  padding: 0px !important;
  border-bottom: 0px !important;
  font-size: 16px;
  font-weight: 700;
  font-family: Franklin Gothic Book
}

.card-header {
  padding: 0px !important;
  border-bottom: 0px !important;
  font-size: 16px;
  font-weight: 700;
  font-family: Franklin Gothic Book;
  background-color: #004b8e !important;
  color: white !important
}

td {
  padding-right: 20px;
}

h5#mainSubheader {
  width: 175px;
  padding-left: 32px;
}

td {
  padding-right: 20px;
}

select {
  width: 100%
}
.btn-primary {
  background-color: 4B8E !;
  background-color: #004b8e!important;
  border: #ce9a01!important;
  color: #fff!important;
  height: 30px;
  
  margin-top: 9px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}

/* input[type=text] {

  background-color:#E8F0FF !important;
  
}
input, optgroup, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  background-color: #E8F0FF;
}
input[type=password], input[type=text], input[type=file], input:not([type]), textarea, .ms-inputBox {
  padding: 2px 5px;
  background-color: #E9F0FF !important;
}
.ms-BasePicker.ms-PeoplePicker.root-54 {
  background-color: #E9F0FF !important;
} */